.HotelItemClass {
    width: 100%;
    height: 170px;
    border: black solid 1px;
    border-radius: 15px;
}

.thumbnail {
    position: relative;
    left: 5px;
    top: 27px;
    float: left;
    margin-left: 1px;
    display:inline-block;
    margin-right: 10px;
}
.thumbnailImg {
    width: 200px;
    display:inline-block;
    border: 2px solid black;
    border-radius: 10px;
}

.HotelItemContent {
    height: 200px;
    width: 200px;
    display:inline-block;
}

/*.HotelItemContentP {*/
/*    font-size: 100%;*/
/*}*/

.spanText {
    font-size: 70%;
}
